@use 'variables' as *;
@forward 'button';
@forward 'link';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

* {
  font-family: $primary-font;
}

%reset-ordered-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.w-full {
  width: 100%;
}

:deep {
  .formkit-messages {
    list-style: none;
    padding: 0;
  }
  .formkit-message {
    color: red;
  }
}
