@use 'variables' as *;
@forward 'button';
@import 'primeicons/primeicons.css';

* {
  font-family: $primary-font;
}

%reset-ordered-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.w-full {
  width: 100%;
}
.font-grey {
  color: #767676;
}

:deep {
  .formkit-messages {
    list-style: none;
    padding: 0;
  }
  .formkit-message {
    color: red;
  }
}

input:autofill {
  -webkit-text-fill-color: white !important;
  box-shadow: 0 0 0 6.25rem black inset;
  caret-color: white;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  box-shadow: 0 0 0 6.25rem black inset;
  caret-color: white;
}

input,
textarea {
  box-sizing: border-box;
  color: white;
  background-color: black;
}

input {
  height: 2.5rem;
  border-radius: 0.25rem;
  width: 15rem;
  filter: none;
  padding: 0.25rem 0.5rem;

  &:hover {
    border-color: #29adff;
    outline: 0.0625rem solid #29adff;
  }

  &:focus {
    border-color: #60c2ff;
    outline: 0.0625rem solid #60c2ff;
  }

  &:active {
    border-color: #60c2ff;
    outline: 0.0625rem solid #60c2ff;
  }
}

.input-wrapper {
  label {
    display: block;
    padding-bottom: 0.25rem;
  }
}

.error-message {
  color: red;
  font-size: 0.875rem;
}
